body {
    padding: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.login-box {
    border: 2px solid #2c3e50;
    border-radius: 10px;
    margin: auto;
    padding: 1em 2em;
    font-size: 0.9em;
}

/*.login-box .form-control {
        margin: auto;
    }*/

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

    .affix + .container-fluid {
        padding-top: 70px;
    }

.carousel {
    border-radius: 10px !important;
    overflow: hidden;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~  CUSTOM CSS (Arslan Ameer)  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/* NAVBAR USER Details DROPDOWN*/

.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}


/*//////////////////////  FEEDBACK COLOUM ////////////////////////////*/

.detailBox {
    width: 90%;
    border: 1px solid #bbb;
    /*margin: 50px;*/
}

.titleBox {
    background-color: #fdfdfd;
    padding: 10px;
}

    .titleBox label {
        color: #444;
        margin: 0;
        display: inline-block;
    }

.commentBox {
    padding: 10px;
    border-top: 1px dotted #bbb;
}

/*.commentBox .form-group:first-child, .actionBox .form-group:first-child {
        width: 80%;
    }

    .commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
        width: 18%;
    }*/

/*.actionBox .form-group * {
    width: 100%;
}*/

.taskDescription {
    margin-top: 10px 0;
}

.commentList {
    padding: 0;
    list-style: none;
    max-height: 200px;
    overflow: auto;
}

    .commentList li {
        margin: 0;
        margin-top: 10px;
    }

        .commentList li > div {
            display: table-cell;
        }

.commenterImage {
    width: 30px;
    margin-right: 5px;
    height: 100%;
    float: left;
}

    .commenterImage img {
        width: 100%;
        border-radius: 50%;
    }

.commentText p {
    margin: 0;
}

.sub-text {
    color: #aaa;
    font-family: verdana;
    font-size: 11px;
}

.actionBox {
    border-top: 1px dotted #bbb;
    padding: 10px;
}
