
@{
    ViewBag.Title = "Booking Confirmed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Booking Confirmed!</h1>
    <p>Thank You!  We Will Contact You By Email And Call To Confirm Your Trip Booking</p>
    <a class="btn btn-success" href="@Url.Action("Index","Home")">Home</a>
</div>