@model BookPakistanTourClasslibrary.HistoryManagement.History

@{
    ViewBag.Title = "History Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">History</h2>
<h5 class="text-center">of</h5>
<h4 class="text-center"> @Model.Title</h4>

<div class="col-lg-12">
    <img src="@Url.Content(Model.ImageUrl)" alt="@Model.Title" style="width: 100%" />
    <hr />
    <div class="row" style="margin: 10px; padding: 20px">
        <p class="text-primary">@Model.Description</p>
    </div>

</div>