@model List<BookPakistanTourClasslibrary.HistoryManagement.History>

@{
    ViewBag.Title = "Pakistan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center"> About Our Pakistan</h2>

<img src="~/ImagesData/HistoryImages/quaid.jpg" alt="Pakistan" class="img-responsive center-block" width="70%" />

<p class="text-justify" style="white-space: pre-line; text-wrap: normal">
    <em style="font-weight: bold" class="text-uppercase">Pakistan</em>, along with parts of western India, contain the archeological remains of an urban civilization dating back 4,500 years. Alexander the Great included the Indus Valley in his empire in 326 B.C., and his successors founded the Indo-Greek kingdom of Bactria based in what is today Afghanistan and extending to Peshawar. Following the rise of the Central Asian Kushan Empire in later centuries, the Buddhist culture of Afghanistan and Pakistan, centered on the city of Taxila just east of Peshawar, experienced a cultural renaissance known as the Gandhara period.
    Pakistan's Islamic history began with the arrival of Muslim traders in the 8th century in Sindh. The collapse of the Mughal Empire in the 18th century provided an opportunity to the English East India Company to extend its control over much of the subcontinent. In the west in the territory of modern Pakistan, the Sikh adventurer Ranjit Singh carved out a dominion that extended from Kabul to Srinagar and Lahore. British rule replaced the Sikhs in the first half of the 19th century. In a decision that had far-reaching consequences, the British permitted the Hindu Maharaja of Kashmir, a Sikh appointee, to continue in power. Pakistan emerged over an extended period of agitation by many Muslims in the subcontinent to express their national identity free from British colonial domination as well as domination by what they perceived as a Hindu-controlled Indian National Congress. Muslim anti-colonial leaders formed the All-India Muslim League in 1906. Initially, the League adopted the same objective as the Congress--self-government for India within the British Empire--but Congress and the League were unable to agree on a formula that would ensure the protection of Muslim religious, economic, and political rights.
    With the death in 1948 of its first head of state, Muhammad Ali Jinnah, and the assassination in 1951 of its first prime minister, Liaqat Ali Khan, political instability and economic difficulty became prominent features of post-independence Pakistan. On October 7, 1958, President Iskander Mirza, with the support of the army, suspended the 1956 Constitution, imposed martial law, and canceled the elections scheduled for January 1959. Twenty days later the military sent Mirza into exile in Britain, and Gen. Mohammad Ayub Khan assumed control of a military dictatorship.
    After Pakistan's loss in the 1965 war against India, Ayub Khan's power declined. Subsequent political and economic grievances inspired agitation movements that compelled his resignation in March 1969. He handed over responsibility for governing to the commander in chief of the army, General Agha Mohammed Yahya Khan, who became President and Chief Martial Law Administrator. General elections held in December 1970 polarized relations between the eastern and western sections of Pakistan. The Awami League, which advocated autonomy for the more populous East Pakistan, swept the East Pakistan seats to gain a majority in Pakistan as a whole. The Pakistan Peoples Party (PPP), founded and led by Ayub Khan's former Foreign Minister Zulfikar Ali Bhutto, won a majority of the seats in West Pakistan, but the country was completely split with neither major party having any support in the other area. Negotiations to form a coalition government broke down, and a civil war ensued. India attacked East Pakistan and captured Dhaka in December 1971, when the eastern section declared itself the independent nation of Bangladesh. Yahya Khan then resigned the presidency and handed over leadership of the western part of Pakistan to Bhutto, who became President and the first civilian Chief Martial Law Administrator.Muhammad Ali Jinnah started his political career in 1906
</p>

<hr />
<h2 class="text-center">: Learn More About Pakistan :</h2>
<h4 class="text-center">History Of Some Popular Places</h4>
<hr />

@foreach (var m in Model)
{
    @Html.Partial("~/Views/Shared/_HistorySummaryView.cshtml", m)
}